Repository SourenP/ungroup_game, pull requests merged in 2020-01, with the labels that each got.

#153 Fix internet networking
  src/client/main.cpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/client/systems/NetworkingClient.cpp
  src/client/systems/NetworkingClient.hpp
  src/common/util/game_def.hpp
  src/common/util/game_settings.hpp
  src/server/systems/NetworkingServer.cpp
  src/server/systems/NetworkingServer.hpp
Labels: code quality, feature, networking

#152 Level loading system
  src/client/main.cpp
  src/client/rendering/RenderingDef.hpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/common/CMakeLists.txt
  src/common/systems/GameController.cpp
  src/common/systems/GameController.hpp
  src/common/systems/GameObjectController.cpp
  src/common/systems/GameObjectController.hpp
  src/common/systems/GameObjectStore.cpp
  src/common/systems/LevelController.cpp
  src/common/systems/LevelController.hpp
  src/common/systems/MineController.cpp
  src/common/util/game_settings.hpp
  src/server/CMakeLists.txt
  src/server/main.cpp
  src/server/systems/ServerGameController.cpp
  src/server/systems/ServerGameController.hpp
Labels: feature, game logic

#157 Connecting and winner screen visuals
  src/client/rendering/RenderingController.cpp
  src/client/rendering/RenderingController.hpp
  src/client/rendering/RenderingDef.hpp
Labels: graphics

#165 Improve metric collection and metrics collected
  .travis.yml
  CMakeLists.txt
  cmake/GperftoolsConfig.cmake
  src/client/rendering/BaseUIElement.hpp
  src/client/rendering/DebugUIElement.cpp
  src/client/rendering/GUIController.cpp
  src/client/rendering/RenderingController.cpp
  src/client/rendering/RenderingDef.hpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/client/systems/NetworkingClient.cpp
  src/common/CMakeLists.txt
  src/common/metrics/TemporalMetric.cpp
  src/common/metrics/TemporalMetric.hpp
  src/common/systems/GameController.cpp
  src/common/systems/GameController.hpp
  src/server/CMakeLists.txt
  ug-server.prof.0
Labels: feature, metrics, testing

#170 Imporve performance of TemporalMetric
  src/client/CMakeLists.txt
  src/common/metrics/TemporalMetric.cpp
  src/common/metrics/TemporalMetric.hpp
  tests/CMakeLists.txt
  tests/common/metrics/tests-TemporalMetric.cpp
Labels: metrics, performance

#171 Fix game scale
  src/client/rendering/BackgroundController.cpp
  src/client/rendering/BackgroundController.hpp
  src/client/rendering/RenderingController.cpp
  src/client/rendering/RenderingDef.hpp
  src/common/util/game_settings.hpp
Labels: bug, graphics

#173 Show mine directions
  resources/images/k_letter.png
  resources/images/m_letter.png
  resources/images/n_letter.png
  resources/images/t_letter.png
  src/client/rendering/BaseUIElement.cpp
  src/client/rendering/BaseUIElement.hpp
  src/client/rendering/DebugUIElement.cpp
  src/client/rendering/DebugUIElement.hpp
  src/client/rendering/DrawableGroup.cpp
  src/client/rendering/DrawableMine.cpp
  src/client/rendering/GUIController.cpp
  src/client/rendering/GameObjectRenderer.cpp
  src/client/rendering/GameObjectRenderer.hpp
  src/client/rendering/RenderingController.cpp
  src/client/rendering/RenderingController.hpp
  src/client/rendering/RenderingDef.hpp
  src/client/rendering/ResourceUIElement.cpp
  src/client/rendering/ResourceUIElement.hpp
  src/client/rendering/TestUIElement.cpp
  src/client/rendering/TestUIElement.hpp
  src/client/resources/ResourceStore.cpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/common/objects/CircleGameObject.hpp
  src/common/physics/CollisionUtil.cpp
  src/common/physics/CollisionUtil.hpp
  src/common/physics/VectorUtil.cpp
  src/common/physics/VectorUtil.hpp
  src/common/systems/GameObjectController.cpp
  src/common/systems/GameObjectController.hpp
  src/common/util/game_settings.hpp
Labels: feature, graphics

#176 Remove group outline
  resources/shaders/voronoi_counts.frag
  src/client/rendering/DrawableGroup.cpp
  src/client/rendering/RenderingDef.hpp
Labels: graphics
