Repository SourenP/ungroup_game, pull requests merged in 2020-05, with the labels that each got.

#206 Add cmake vars for building only client, server or tests
  .travis.yml
  CMakeLists.txt
  README.md
  src/CMakeLists.txt
Labels: build, enhancement

#207 Refactor bot code
  src/client/main.cpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/common/bots/Bot.cpp
  src/common/bots/Bot.hpp
  src/common/systems/GameObjectController.cpp
  src/common/systems/GameObjectController.hpp
  src/common/systems/MineController.hpp
  src/server/main.cpp
  src/server/rendering/TerminalRenderingController.cpp
  src/server/systems/ServerGameController.cpp
  src/server/systems/ServerGameController.hpp
Labels: bots, code quality

#209 Fade other players' directions in group
  resources/shaders/voronoi_counts.frag
  src/client/rendering/DirectionArrows.cpp
  src/client/rendering/DrawableGroup.cpp
  src/client/rendering/DrawableGroup.hpp
  src/client/rendering/GameObjectRenderer.cpp
  src/client/rendering/RenderingDef.hpp
  src/common/systems/GroupController.cpp
  src/common/systems/GroupController.hpp
  src/common/systems/PlayerController.cpp
  src/common/systems/PlayerController.hpp
Labels: code quality, graphics

#210 Fix voronoi shader misalignment
  resources/shaders/voronoi_counts.frag
  src/client/rendering/DrawableGroup.cpp
  src/client/rendering/DrawableMine.cpp
  src/client/rendering/RenderingDef.hpp
Labels: graphics

#211 Add groupie bots!
  resources/configs/game_settings.json
  scripts/run_bots.rb
  src/common/bots/Bot.cpp
  src/common/bots/Bot.hpp
Labels: bots

#212 Don't use remainder of delta time and half delta t
  resources/configs/game_settings.json
  src/common/physics/PhysicsDef.hpp
  src/common/systems/GameController.cpp
  src/common/util/game_settings.cpp
  src/common/util/game_settings.hpp
Labels: core, physics

#213 Play in the past
  resources/configs/game_settings.json
  src/client/rendering/BaseUIElement.hpp
  src/client/rendering/DebugUIElement.cpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/client/systems/NetworkingClient.cpp
  src/client/systems/NetworkingClient.hpp
  src/common/CMakeLists.txt
  src/common/events/CollisionEvent.hpp
  src/common/metrics/TemporalMetric.cpp
  src/common/metrics/TemporalMetric.hpp
  src/common/objects/CircleGameObject.hpp
  src/common/objects/CircleRigidBody.cpp
  src/common/objects/CircleRigidBody.hpp
  src/common/objects/Group.cpp
  src/common/objects/Group.hpp
  src/common/physics/CollisionUtil.cpp
  src/common/physics/CollisionUtil.hpp
  src/common/physics/PhysicsController.hpp
  src/common/physics/PhysicsDef.cpp
  src/common/physics/PhysicsDef.hpp
  src/common/systems/GameController.cpp
  src/common/systems/GameObjectController.cpp
  src/common/systems/GameObjectController.hpp
  src/common/util/StateDef.cpp
  src/common/util/StateDef.hpp
  src/common/util/game_settings.cpp
  src/common/util/game_settings.hpp
  src/server/systems/NetworkingServer.cpp
  src/server/systems/NetworkingServer.hpp
  src/server/systems/ServerGameController.cpp
  src/server/systems/ServerGameController.hpp
Labels: networking, physics
