Repository SourenP/ungroup_game, pull requests merged in 2020-04, with the labels that each got.

#187 Continuously send unreliable updates
  src/client/systems/InputController.cpp
  src/client/systems/NetworkingClient.cpp
  src/client/systems/NetworkingClient.hpp
  src/common/systems/PlayerController.cpp
  src/common/util/InputDef.cpp
  src/common/util/InputDef.hpp
Labels: networking

#189 Clean up rewind and replay code
  resources/configs/game_settings.json
  src/client/rendering/RenderingDef.hpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/client/systems/NetworkingClient.cpp
  src/client/systems/NetworkingClient.hpp
  src/common/util/game_settings.cpp
  src/common/util/game_settings.hpp
Labels: code quality, networking

#191 Update cmake to build on windows
  CMakeLists.txt
  README.md
  src/CMakeLists.txt
  src/client/CMakeLists.txt
  src/client/rendering/AnimatedSprite.cpp
  src/client/rendering/BaseUIElement.hpp
  src/client/rendering/RenderingDef.hpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/client/systems/NetworkingClient.cpp
  src/client/systems/NetworkingClient.hpp
  src/common/CMakeLists.txt
  src/server/CMakeLists.txt
  src/server/systems/NetworkingServer.cpp
  src/server/systems/NetworkingServer.hpp
Labels: build

#193 Add terminal UI to server
  CMakeLists.txt
  extern/termbox/.gitignore
  extern/termbox/CMakeLists.txt
  extern/termbox/COPYING
  extern/termbox/README.md
  extern/termbox/package.json
  extern/termbox/setup.py
  extern/termbox/src/CMakeLists.txt
  extern/termbox/src/bytebuffer.inl
  extern/termbox/src/demo/CMakeLists.txt
  extern/termbox/src/demo/keyboard.c
  extern/termbox/src/demo/output.c
  extern/termbox/src/demo/paint.c
  extern/termbox/src/demo/wscript
  extern/termbox/src/input.inl
  extern/termbox/src/python/termboxmodule.pyx
  extern/termbox/src/term.inl
  extern/termbox/src/termbox.c
  extern/termbox/src/termbox.h
  extern/termbox/src/utf8.c
  extern/termbox/src/wscript
  extern/termbox/test_termboxmodule.py
  extern/termbox/tools/collect_terminfo.py
  extern/termbox/waf
  extern/termbox/wscript
  resources/configs/game_settings.json
  src/client/systems/ClientGameController.cpp
  src/common/systems/GameController.hpp
  src/common/systems/GameObjectStore.hpp
  src/common/util/InputDef.hpp
  src/common/util/StateDef.hpp
  src/server/CMakeLists.txt
  src/server/rendering/TerminalRenderingController.cpp
  src/server/rendering/TerminalRenderingController.hpp
  src/server/systems/NetworkingServer.cpp
  src/server/systems/NetworkingServer.hpp
  src/server/systems/ServerGameController.cpp
  src/server/systems/ServerGameController.hpp
  src/server/util/TermboxTable.cpp
  src/server/util/TermboxTable.hpp
  src/server/util/TermboxTextOutputArea.cpp
  src/server/util/TermboxTextOutputArea.hpp
  tests/integration/smoke_tests.js
Labels: metrics

#190 Chasing camera draft
  resources/configs/game_settings.json
  src/client/rendering/RenderingController.cpp
  src/client/rendering/RenderingController.hpp
  src/client/rendering/RenderingDef.hpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/common/systems/GameController.cpp
  src/common/systems/GameController.hpp
  src/common/util/game_settings.cpp
  src/common/util/game_settings.hpp
  src/server/systems/ServerGameController.cpp
  src/server/systems/ServerGameController.hpp
Labels: enhancement, game feel

#197 various server improvements
  scripts/run_server.rb
  src/client/main.cpp
  src/client/systems/ClientGameController.cpp
  src/client/systems/ClientGameController.hpp
  src/client/systems/NetworkingClient.cpp
  src/client/systems/NetworkingClient.hpp
  src/server/main.cpp
  src/server/rendering/TerminalRenderingController.cpp
  src/server/rendering/TerminalRenderingController.hpp
  src/server/systems/NetworkingServer.cpp
  src/server/systems/NetworkingServer.hpp
  src/server/systems/ServerGameController.cpp
  src/server/systems/ServerGameController.hpp
Labels: enhancement, networking
